
.container {
    width: 1100px;
    height: inherit;
   /*  background: rgba(0,0,0,.3); */
    margin: 0 auto;
    position: relative;
}
/* 레이아웃 */
#headerWrap {
    width: 100%;
    height: 120px;
    background: #f6f5ef;
    border-top: 2px solid #000;
    position: fixed;
    z-index: 10;
}
#mainSlider{
    padding-top: 120px;
    width: 100%;
    height: 620px;
    background: url(../img/2025_spring_top_bg_250409.jpg) no-repeat center bottom/cover;
}





/* header 영역*/
.logo {
    float: left; padding-top: 20px;
}
.util_nav {
    float: right;
    margin-top: 20px;
    margin-right: 50px;
}
.util_nav ul {display: flex;}

.util_nav ul li a{padding: 0 20px;}
.util_nav ul li {position: relative;}
.util_nav ul li:not(:last-child):after {
    content:""; 
    position: absolute;
    width: 1px;
    height: 10px;
    background: #666;
    top: 5px;
    right: 0;
}
.btn_search {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 34px;
    height: 34px;
    background: white;
    border: 1px solid #969595;
    border-radius: 5px;
}
.btn_search a img {
    margin-top: 6px;
    margin-left: 7px;
}
.gnb_nav{
    width: 100%;
    position: absolute;
    top: 54px;
    left: 0;
}
.gnb_nav .gnb_nav_inner{ /*가운데 정렬 역할*/
    width: 1100px;
    height: 66px;
    margin: 0 auto;
}
.gnb_nav .gnb_nav_inner>ul{
    display: flex;
    float: right;
}
.gnb_nav .gnb_nav_inner>ul >li >a{
    font-weight: 500;
    color: #333;
    display: block;
    padding: 10px 20px 40px;
}
.gnb_nav .gnb_nav_inner>ul > li:hover > a{
    color : #669900;
    background: #2c2a29;
}
.gnb_sub_wrap{
    position: absolute;
    background: #2c2a29;
    width: 100%;
    left: 0;
    display: none;
}
.gnb_nav .gnb_nav_inner>ul > li:hover > .gnb_sub_wrap{
    display: block;
}
.gnb_sub_wrap .sub_gnb_nav_inner{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.gnb_sub_wrap .sub_gnb_nav_inner>ul{}
.gnb_sub_wrap .sub_gnb_nav_inner>ul>li{
    line-height: 180%;
}
.gnb_sub_wrap .sub_gnb_nav_inner>ul>li a{
    font-size: 14px;
    letter-spacing: -1px;
}
.gnb_sub_wrap .sub_gnb_nav_inner>ul>.sub_gnb_tit a{
    color: #fff;
    font-weight: bold;
    padding-bottom: 10px;
    font-size:16px;
}

/* 메인 이미지 슬라이드 */
.mainSlider-inner{
    width: 1100px;
    height: inherit;
    margin: 0 auto;
    position: relative;
    display: flex;
}
.mainSlider-inner .slider-left{
    width: 50%;

}
.mainSlider-inner .slider-left .textimg{
    position: absolute;
    top:50%;
    left:-15%;
    transform: translateY(-50%);
}
.mainSlider-inner .slider-right{
    width: 50%;

}
.mainSlider-inner .slider-right .slider-img1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 43%;
}
.mainSlider-inner .slider-right .slider-img2{
    position: absolute;
    top: 18%;
    right:110px;
}
.mainSlider-inner .slider-right .slider-img3{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:-100px;
}
.line-notice{
    width: 100%;
    height: 62px;
    background-image: linear-gradient(to right, #000, #000 55%, #f5f6ef 45%);
}
.line-notice .line-notice-wrap{
    width: 1100px;
    height: inherit;
    margin: 0 auto;
    position: relative;
    display: flex;
    color: #fff;
}
.line-notice .left-notice{
    width: 60%;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}
.line-notice .left-notice .left-notice-textwrap{
    display: flex;
}
.line-notice .left-notice .left-notice-textwrap h2{
    font-size: 20px;
}
.line-notice .left-notice .left-notice-textwrap .notice{
    margin-left: 10px;
}
.line-notice .left-notice .left-notice-textwrap .notice ul{
    position: relative;
}
.line-notice .left-notice .left-notice-textwrap .notice ul li{
    position: absolute;
    width: 500px;
}
.line-notice .left-notice .left-notice-textwrap .notice ul li:not(:first-child){display: none;}
.left-notice-icon{width: 36px; height: 36px; margin-right: 10px;}
.line-notice .right-notice{
    width: 40%;
    height: inherit;
    background: #f5f6ef;
    display: flex;
    align-items: center;
}
.line-notice .right-notice h2{
    color: #000;
    flex-grow: 1;
    margin-left: 10px;
}


/* new-rewards-wrap */
.new-rewards-wrap{
    width: 100%;
    padding: 30px 0 40px;
    background: #1e3932;
    height: 240px;
}
.new-rewards-wrap-inner{
   display: flex;
}
.new-rewards-logo{ margin-right: 20px;}
.new-rewards-textwrap{width: 100%; padding: 20px;}
.new-rewards-textwrap .new-rewards-text1{
    border-bottom: .5px solid #fff;
    width: 100%;
    padding-bottom: 20px;

}
.new-rewards-textwrap .new-rewards-text1 h2{
    font-size: 26px;
    font-weight: 300;
    color: #fff;
    padding-bottom: 10px;
}
.new-rewards-textwrap .new-rewards-text1 h2 .bold{font-weight: 600;}
 .text_button_wrap{
    display: flex;
    justify-content: space-between;
}
.text_button_wrap .new-rewards-text-wrap{
    color: #fff;
}
.text_button_wrap .new-rewards-text-wrap p{margin-bottom: 5px;
letter-spacing: -3px;}

.text_button_wrap .button-wrap a{
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    
}
.new-rewards-textwrap .new-rewards-text1 .text_button_wrap .button-wrap .btn-signin_join{
    background: #00704a;
    border: 1px solid #00704a;
}

.new-rewards-textwrap .new-rewards-text2{
    margin-top: 20px;
}
.main-banner-wrap{
    width: 100%;
    height: 578px;
    background: url(../img/main-banner-bg.png) no-repeat center center/cover;
}
.main-banner-inner{
   /*  display: flex;
    justify-content: space-between; */
    overflow: hidden;
   
}
.main-banner-inner:hover .banner-img-box{
    left: 15%;
}
.main-banner-inner:hover .banner-text-box{
    right: 5%;
}
.banner-img-box{
    position: absolute;
    top: 50%;
    left:-20%;
    transform: translateY(-50%);
    transition: 0.5s;
}
.banner-text-box{
    position: absolute;
    top: 50%;
    right: -100%;
    transform: translateY(-50%);
    transition: .5s;
}
.banner-text-box a{
    border: 1px solid #a32a42;
    display: block;
    padding: 10px 20px;
    margin-top: 30px;
    width: 125px;
    text-align: center;
    color: #a32a42;
}
.banner-text-box a:hover {
    background: #a32a42;
    color: #fff;
}
.reserve_visual{
    width: 100%; 
    height: 400px;
    background:url(../img/bg.jpg);
}
.reserve_title{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.reserve_bg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 200px;
}
.reserve_inner{overflow: hidden;}
.reserve_bg img{
    max-width: 150%;
}
#favWrap{
    width: 100%;
    height: 800px;
    background: url(../img/2025_spring_pick_bg_250409.png) center center fixed no-repeat #45434c;
    background-size: auto 87%;
}
.fav_prod_txt01{
    background-image: url(../img/fav_prod_txt01.png);
    width: 258px;
    height: 204px;
    overflow: hidden;
    position: absolute;
    text-indent: -2000px;
    top: 150px;
    left: 100px;
}
.fav_prod_txt02{
    background-image: url(../img/fav_prod_txt02.png);
    height:156px;
    width: 362px;
    overflow: hidden;
    position: absolute;
    text-indent: -2000px;
    bottom: 200px;
}
.fav_img{
    position: absolute;
    top: 12%;
    right : -40%;
    width: 100%;
}

.btn_fav_prod{
    position: absolute;
    bottom: 147px;
    left : 230px;
}

.btn_fav_prod a{
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
}
    
.btn_fav_prod a:hover{
    background: #fff;
    color: #333;
}

.resesrve_magazine_wrap{
    width: 100%;
    height: 400px;
    background: url(../img/reserve_bg_pc.png) no-repeat 50%;
    background-size: auto 353px;
    position: relative;
    overflow: hidden;
}

.resesrve_magazine_title{
    position: absolute;
    left: 42%;
    top: 45%;
    transform: translateY(-50%);
    transform: translate(-50%,-50%);
    z-index: 1;
}

.resesrve_magazine_img{
    position: absolute;
    right: 20px;
    top: 46%;
    transform: translateY(-50%);
}



.btn_reserve_prod{
    position: absolute;
    bottom: 110px;
    left: 300px;
}
.btn_reserve_prod a{
    color: #000;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    font-weight: bold;
}
.btn_reserve_prod a:hover{
    background: #000;
    color: #fff;
}